/* About.module.css */

.section_title {
    font-size: 20px;
}
.about_wrapper {
    flex-direction: row;
}
.about_img {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_img img {
    height: 90%;
    width: 90%;
}
.about_content {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    gap: 10px;
    position: relative;
}
.about_para {
    display: block;
}
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.card p:nth-child(2) {
    position: relative;
    top: 20px;
}

@media screen and (max-width: 1200px){
    .about_img img {
        height: 70%;
    }
    .about_para {
        display: none !important;
    }
}
@media screen and (max-width: 768px){
    .about_img img {
        height: 70%;
    }
    .about_content {
        padding: 30px 10px;
        gap: 5px;
    }
    .card p{
        display: none;
    }
}
















