.header_wrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.swiper {
    height: 100vh !important;
    width: 100% !important;
}

.header_slide {
    height: 100%;
    width: 100%;
    background-image: url(./../../assets/images/hero-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}
.slide2 {
    background-image: url(./../../assets/images/hero-2.png);
}
.slide3 {
    background-image: url(./../../assets/images/hero-3.png);
}
.header_slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.header_slide .content {
    position: absolute;
    bottom: 20%;
    left: 15%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.header_slide .content small {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}
.header_slide .content h2 {
    color: #ffffff;
    font-size: 36px;
    padding: 0;
    margin: 0;
    font-weight: 900;
}
.header_slide .content h2 span {
    color: #e0840b;
}


@media screen and (max-width: 768px) {
    .header_slide .content {
        bottom: 15%;
    }
    
    .header_slide .content small {
        font-size: 17px;
    }
    .header_slide .content h2 {
        font-size: 26px;
    }
}
@media screen and (max-width: 500px) {
    .header_slide .content {
        bottom: 10%;
    }
}








