/* Aminities.module.css */

.swiper {
    width: 100%;
}

.aminitiesCSS_item {
    display: flex;
    align-items: center;
    gap: 50px;
}
.aminitiesCSS_item img {
    width: 60%;
    height: auto;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content h2 {
    font-size: 5rem;
    margin-left: -200px;
    font-weight: bolder;
    -webkit-text-stroke: 1px #fff;
}
.content p {
    font-size: 1.1rem;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .content h2 {
        font-size: 3rem;
        margin-left: -150px;
    }
    .content p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
    }
}
@media (max-width: 768px) {
    .content h2 {
        font-size: 2rem;
        margin-left: -50px;
        -webkit-text-stroke: transparent;
    }
    .content p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
    }
}
@media (max-width: 425px) {
    .aminitiesCSS_item {
        display: flex;
        flex-direction: column;
    }
    .aminitiesCSS_item img {
        width: 100%;
    }
    .content h2 {
        margin-left: 0;
    }
}







